[package]
name = "forkserver_executor"
version = "0.15.3"
edition = "2021"


[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
lto = true
codegen-units = 1
opt-level = 3

[dependencies]
libafl = { path = "../../../../crates/libafl" }
libafl_bolts = { path = "../../../../crates/libafl_bolts" }
log = { version = "0.4.22", features = ["release_max_level_info"] }
