[package]
name = "libafl_qemu"
version = "0.7.0"
authors = ["Andrea Fioraldi <andreafioraldi@gmail.com>"]
description = "QEMU user backend library for LibAFL"
documentation = "https://docs.rs/libafl_qemu"
repository = "https://github.com/AFLplusplus/LibAFL/"
readme = "../README.md"
license = "MIT OR Apache-2.0"
keywords = ["fuzzing", "qemu", "instrumentation"]
edition = "2021"

[features]
python = ["pyo3", "pyo3-build-config"]
default = ["x86_64"]
x86_64 = []
i386 = []
arm = []
aarch64 = []

[dependencies]
libafl = { path = "../libafl", version = "0.7.0" }
libafl_targets = { path = "../libafl_targets", version = "0.7.0" }
serde = { version = "1.0", default-features = false, features = ["alloc"] } # serialization lib
hashbrown =  { version = "0.9", features = ["serde", "ahash-compile-time-rng"] } # A faster hashmap, nostd compatible
num-traits = "0.2"
num_enum = "0.5.1"
goblin = "0.4.2"
libc = "0.2"
strum = "0.21"
strum_macros = "0.21"
syscall-numbers = "2.0.0"
#pyo3 = { version = "0.14.3", features = ["extension-module"], optional = true }
pyo3 = { version = "0.14.3", optional = true }

[build-dependencies]
cc = { version = "1.0" }
which = "4.1"
pyo3-build-config = { version = "0.14.5", optional = true }

[lib]
name = "libafl_qemu"
crate-type = ["cdylib", "rlib"]
