[package]
name = "baby_fuzzer"
version = "0.14.1"
authors = [
  "Andrea Fioraldi <andreafioraldi@gmail.com>",
  "Dominik Maier <domenukk@gmail.com>",
]
edition = "2021"

[features]
default = ["std"]
tui = []
std = []

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
lto = true
codegen-units = 1
opt-level = 3
debug = true

[dependencies]
env_logger = "0.11.7"
libafl = { path = "../../../crates/libafl", features = ["tui_monitor"] }
libafl_bolts = { path = "../../../crates/libafl_bolts" }
log = { version = "0.4.22", features = ["release_max_level_info"] }
