**/target
**/.git
Cargo.lock

*.o
*.a
*.so
*.out
*.elf
*.bin
*.dll
*.exe
*.dSYM

.cur_input

crashes

callgrind.out.*
perf.data
perf.data.old

.vscode
test.dict

# Ignore all built fuzzers
fuzzer_*
AFLplusplus

# Ignore common dummy and logfiles
*.log
a

# ignore files from concolic tests
symcc_build
symcc