target
out
Cargo.lock
vendor

.DS_Store
.env

*.o
*.a
*.so
*.out
*.elf
*.bin
*.dll
*.exe
*.dSYM

.cur_input
.venv

crashes

callgrind.out.*
perf.data
perf.data.old

.vscode
test.dict

# Ignore all built fuzzers
fuzzer_*
AFLplusplus
test_*
*_fuzzer
*_harness

# Ignore common dummy and logfiles
*.log
a

forkserver_test
__pycache__
*.lafl_lock
