target
target-bin
out
vendor

# cargo lockfiles except from binaries
**/Cargo.lock
# !fuzzers/**/Cargo.lock
# !utils/**/Cargo.lock


.DS_Store
.env
.vscode

*.test
*.tmp
*.swp
*.o
*.a
*.so
*.out
*.elf
*.bin
*.dll
*.exe
*.dylib
*.dSYM
*.obj

.cur_input
.cur_input_*
cur_input
.venv

crashes

callgrind.out.*
perf.data
perf.data.old

.vscode/settings.json
test.dict

.idea/

# Ignore all built fuzzers
AFLplusplus
test_*
*_fuzzer

# Ignore common dummy and logfiles
*.log
a

forkserver_test
__pycache__
*.lafl_lock
*.metadata

*atomic_file_testfile*
**/libxml2
**/corpus_discovered
**/libxml2-*.tar.gz

libafl_nyx/QEMU-Nyx
libafl_nyx/packer

.z3-trace

# No gdb history
.gdb_history
# No llvm IR
*.ll

*.tar.gz

# common harness names
harness
program
fuzzer_libpng*

*.patch

# Sometimes this happens
rustc-ice-*

# perf files
*.mm_profdata

# backup files
*.bak

# log
log

# Coredumps
*.core
