target
target-bin
out
Cargo.lock
vendor

.DS_Store
.env

*.tmp
*.swp
*.o
*.a
*.so
*.out
*.elf
*.bin
*.dll
*.exe
*.dSYM
*.obj

.cur_input
.cur_input_*
cur_input
.venv

crashes

callgrind.out.*
perf.data
perf.data.old

.vscode
test.dict

.idea/

# Ignore all built fuzzers
fuzzer_*
AFLplusplus
test_*
*_fuzzer
*_harness

# Ignore common dummy and logfiles
*.log
a

forkserver_test
__pycache__
*.lafl_lock
*.metadata

*atomic_file_testfile*
**/libxml2
**/corpus_discovered
**/libxml2-*.tar.gz

libafl_nyx/QEMU-Nyx
libafl_nyx/packer

.z3-trace

# No gdb history
.gdb_history
# No llvm IR
*.ll

*.tar.gz
