[profile.release]
lto = true
codegen-units = 1
opt-level = 3
debug = true

[workspace]
members = [
    "libafl",
    "libafl_derive",

    #example fuzzers
    "fuzzers/libfuzzer_libpng",
    "fuzzers/frida_libpng",
    "fuzzers/libfuzzer_libmozjpeg",
    "fuzzers/libfuzzer_libpng_cmpalloc",
]
