[profile.release]
lto = true
codegen-units = 1
opt-level = 3
debug = true

[workspace]
members = [
    "libafl",
    "libafl_derive",
    "libafl_cc",
    "libafl_targets",

    #example fuzzers
    "fuzzers/frida_libpng",
    "fuzzers/libfuzzer_libmozjpeg",
    "fuzzers/libfuzzer_libpng_cmpalloc",
    "fuzzers/libfuzzer_windows",
]
exclude = [
    "fuzzers/libfuzzer_libpng",
	"fuzzers/libfuzzer_stb_image",
]
