[package]
name = "libafl_frida"
version.workspace = true
authors = ["s1341 <github@shmarya.net>"]
description = "Frida backend library for LibAFL"
documentation = "https://docs.rs/libafl_frida"
repository = "https://github.com/AFLplusplus/LibAFL/"
readme = "../README.md"
license = "MIT OR Apache-2.0"
keywords = ["fuzzing", "frida", "instrumentation"]
edition = "2021"
categories = ["development-tools::testing", "emulators", "embedded", "os", "no-std"]

[features]
default = []
cmplog = []

[build-dependencies]
cc = { version = "1.0", features = ["parallel"] }

[dependencies]
libafl = { path = "../libafl", default-features = false, version = "0.9.0", features = ["std", "libafl_derive", "frida_cli"] }
libafl_targets = { path = "../libafl_targets", version = "0.9.0", features = ["std", "sancov_cmplog"] }

nix = "0.25"
libc = "0.2"
hashbrown = "0.12"
libloading = "0.7"
rangemap = "1.0"
frida-gum-sys = { version = "0.4.1", features = [ "auto-download", "event-sink", "invocation-listener"] }
frida-gum = { version = "0.8.1", features = [ "auto-download", "event-sink", "invocation-listener"] }
regex = "1"
dynasmrt = "1.2"
capstone = "0.11.0"
color-backtrace ={ version = "0.5", features = [ "resolve-modules" ] }
termcolor = "1.1.3"
serde = "1.0"
backtrace = { version = "0.3", default-features = false, features = ["std", "serde"] }
num-traits = "0.2"
ahash = "0.7"
paste = "1.0"

[dev-dependencies]
serial_test = "1"
