[package]
name = "qemu_linux_process"
version = "0.14.1"
authors = ["Romain Malmain <rmalmain@pm.me>"]
edition = "2021"

[features]
shared = ["libafl_qemu/shared"]

[profile.release]
incremental = true
debug = true
lto = "fat"
codegen-units = 1

[dependencies]
libafl = { path = "../../../libafl" }
libafl_bolts = { path = "../../../libafl_bolts" }
libafl_qemu = { path = "../../../libafl_qemu", features = [
  "x86_64",
  "systemmode",
  # "paranoid_debug"
] }
libafl_qemu_sys = { path = "../../../libafl_qemu/libafl_qemu_sys", features = [
  "x86_64",
  "systemmode",
  # "paranoid_debug"
] }
env_logger = "0.11.5"
libafl_targets = { path = "../../../libafl_targets" }

[build-dependencies]
libafl_qemu_build = { path = "../../../libafl_qemu/libafl_qemu_build" }
