[package]
name = "libafl_targets"
version = "0.2.1"
authors = ["Andrea Fioraldi <andreafioraldi@gmail.com>"]
description = "Common code for target instrumentation that can be used combined with LibAFL"
documentation = "https://docs.rs/libafl_targets"
repository = "https://github.com/AFLplusplus/LibAFL/"
readme = "../README.md"
license = "MIT OR Apache-2.0"
keywords = ["fuzzing", "testing"]
edition = "2018"

[features]
default = []
pcguard_edges = []
pcguard_hitcounts = []
libfuzzer = []
sancov_value_profile = []
sancov_cmplog = []
pcguard = ["pcguard_hitcounts"]
clippy = [] # Ignore compiler warnings during clippy

[build-dependencies]
cc = { version = "1.0", features = ["parallel"] }

[dependencies]
rangemap = "0.1.10"
