[package]
name = "libafl_targets"
version.workspace = true
authors = ["Andrea Fioraldi <andreafioraldi@gmail.com>"]
description = "Common code for target instrumentation that can be used combined with LibAFL"
documentation = "https://docs.rs/libafl_targets"
repository = "https://github.com/AFLplusplus/LibAFL/"
readme = "../README.md"
license = "MIT OR Apache-2.0"
keywords = ["fuzzing", "testing"]
edition = "2021"
categories = ["development-tools::testing", "emulators", "embedded", "os", "no-std"]


[features]
default = ["std", "sanitizers_flags"]
std = ["libafl/std"]
libfuzzer = ["std", "sanitizer_ifaces"]
libfuzzer_no_link_main = ["libfuzzer"]
libfuzzer_oom = ["libfuzzer"]
sanitizers_flags = []
pointer_maps = []
sancov_pcguard_edges = []
sancov_pcguard_hitcounts = []
sancov_value_profile = []
sancov_8bit = []
sancov_cmplog = []
sancov_pcguard = ["sancov_pcguard_hitcounts"]
sanitizer_ifaces = []
clippy = [] # Ignore compiler warnings during clippy

[build-dependencies]
bindgen = "0.64.0"
cc = { version = "1.0", features = ["parallel"] }

[dependencies]
libafl = { path = "../libafl", version = "0.9.0", default-features = false, features = [] }
log = "0.4.17"
libc = "0.2"

rangemap = "1.0"
serde = { version = "1.0", default-features = false, features = ["alloc", "derive"] } # serialization lib
# serde-big-array = "0.3.2"
