[package]
name = "libafl_targets"
version = "0.7.1"
authors = ["Andrea Fioraldi <andreafioraldi@gmail.com>"]
description = "Common code for target instrumentation that can be used combined with LibAFL"
documentation = "https://docs.rs/libafl_targets"
repository = "https://github.com/AFLplusplus/LibAFL/"
readme = "../README.md"
license = "MIT OR Apache-2.0"
keywords = ["fuzzing", "testing"]
edition = "2021"

[features]
default = ["std"]
std = ["libafl/std"]
libfuzzer = []
pointer_maps = []
sancov_pcguard_edges = []
sancov_pcguard_hitcounts = []
sancov_value_profile = []
sancov_8bit = []
sancov_cmplog = []
sancov_pcguard = ["sancov_pcguard_hitcounts"]
clippy = [] # Ignore compiler warnings during clippy

[build-dependencies]
cc = { version = "1.0", features = ["parallel"] }

[dependencies]
libafl = { path = "../libafl", version = "0.7.1", default-features = false, features = [] }

rangemap = "0.1"
serde = { version = "1.0", default-features = false, features = ["alloc"] } # serialization lib
# serde-big-array = "0.3.2"
