[package]
name = "command_executor"
version = "0.15.2"
edition = "2021"

[features]
default = ["std"]
std = []

[profile.release]
lto = true
codegen-units = 1
opt-level = 3
debug = true

[build-dependencies]
cc = "1.1.21"

[dependencies]
libafl = { path = "../../../../libafl" }
libafl_bolts = { path = "../../../../libafl_bolts" }
log = { version = "0.4.22", features = ["release_max_level_info"] }
