[package]
name = "symcc_runtime"
version.workspace = true
edition = "2021"
authors = ["Julius Hohnerlein <julihoh@users.noreply.github.com>", "Andrea Fioraldi <andreafioraldi@gmail.com>", "Dominik Maier <domenukk@gmail.com>"]
description = "Build Concolic Tracing tools based on SymCC in Rust"
documentation = "https://docs.rs/symcc_runtime"
repository = "https://github.com/AFLplusplus/LibAFL/"
readme = "README.md"
license = "MIT OR Apache-2.0"
keywords = ["fuzzing", "testing", "security"]
build = "build.rs"
categories = ["development-tools::testing", "emulators", "embedded", "os", "no-std"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[package.metadata.docs.rs]
all-features = true

[features]
## skips building and linking the C++ part of the runtime
no-cpp-runtime = []

[dependencies]
unchecked_unwrap = "4"
ctor = "0.2"
libc = "0.2"
libafl = { path = "../../libafl", version = "0.11.2", default-features=false, features=["std", "serdeany_autoreg"] }
libafl_bolts = { path = "../../libafl_bolts", version = "0.11.2", default-features=false, features=["std", "serdeany_autoreg"] }

[build-dependencies]
cmake = "0.1"
bindgen = "0.69.4"
regex = "1"
which = "4.4"
symcc_libafl = { path = "../symcc_libafl", version = "0.11.2" }
