[package]
name = "symcc_runtime"
version = "0.7.1"
edition = "2021"
authors = ["Julius Hohnerlein <julihoh@users.noreply.github.com>", "Andrea Fioraldi <andreafioraldi@gmail.com>", "Dominik Maier <domenukk@gmail.com>"]
description = "Build Concolic Tracing tools based on SymCC in Rust"
documentation = "https://docs.rs/symcc_runtime"
repository = "https://github.com/AFLplusplus/LibAFL/"
readme = "README.md"
license = "MIT OR Apache-2.0"
keywords = ["fuzzing", "testing", "security"]
build = "build.rs"
categories = ["development-tools::testing", "emulators", "embedded", "os", "no-std"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
# skips building and linking the C++ part of the runtime
no-cpp-runtime = []

[dependencies]
unchecked_unwrap = "3"
ctor = "0.1"
libc = "0.2"
libafl = {path = "../../libafl", version="0.7", default-features=false, features=["std"]}

[build-dependencies]
cmake = "0.1"
bindgen = "0.59"
regex = "1"
lazy_static = "1.4"
which = "4.1"
symcc_libafl = {path = "../symcc_libafl", version="0.7"}
