[package]
name = "symcc_runtime"
version = "0.13.2"
edition = "2021"
authors = [
  "Julius Hohnerlein <julihoh@users.noreply.github.com>",
  "Andrea Fioraldi <andreafioraldi@gmail.com>",
  "Dominik Maier <domenukk@gmail.com>",
]
description = "Build Concolic Tracing tools based on SymCC in Rust"
documentation = "https://docs.rs/symcc_runtime"
repository = "https://github.com/AFLplusplus/LibAFL/"
readme = "README.md"
license = "MIT OR Apache-2.0"
keywords = ["fuzzing", "testing", "security"]
build = "build.rs"
categories = [
  "development-tools::testing",
  "emulators",
  "embedded",
  "os",
  "no-std",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[package.metadata.docs.rs]
all-features = true

[features]
## skips building and linking the C++ part of the runtime
no-cpp-runtime = []

[dependencies]
libafl = { path = "../../libafl", version = "0.13.2", default-features = false, features = [
  "std",
  "serdeany_autoreg",
] }
libafl_bolts = { path = "../../libafl_bolts", version = "0.13.2", default-features = false, features = [
  "std",
  "serdeany_autoreg",
] }

unchecked_unwrap = "4.0.0"
ctor = "0.2.8"
libc = { version = "0.2.59" }

[build-dependencies]
cmake = { version = "0.1.51" }
bindgen = { version = "0.70.1" }
regex = { version = "1.10.6" }
which = { version = "6.0.3" }
symcc_libafl = { path = "../symcc_libafl", version = "0.13.2" }

[lints]
workspace = true
