[package]
name = "frida_libpng"
version = "0.1.0"
authors = ["Andrea Fioraldi <andreafioraldi@gmail.com>", "Dominik Maier <domenukk@gmail.com>"]
edition = "2018"
build = "build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["std", "frida"]
std = []
frida = ["frida-gum", "frida-gum-sys"]

#[profile.release]
#lto = true
#codegen-units = 1
#opt-level = 3
#debug = true

[build-dependencies]
cc = { version = "1.0", features = ["parallel"] }
num_cpus = "1.0"

[dependencies]
libafl = { path = "../../libafl/" }
#frida-gum = { path = "../../../frida-rust/frida-gum", version = "0.2.3", optional = true, features = ["auto-download", "event-sink", "invocation-listener"] }
#frida-gum-sys = { path = "../../../frida-rust/frida-gum-sys", version = "0.2.2", optional = true, features = ["auto-download", "event-sink", "invocation-listener"] }
frida-gum = { git = "https://github.com/meme/frida-rust", version = "0.3.2", optional = true, features = ["auto-download", "event-sink", "invocation-listener"] }
frida-gum-sys = { git = "https://github.com/meme/frida-rust", version = "0.2.2", optional = true, features = ["auto-download", "event-sink", "invocation-listener"] }
lazy_static = "1.4.0"
libc = "0.2"
libloading = "0.7.0"

[[example]]
name = "frida_libpng"
path = "./src/fuzzer.rs"
test = false
bench = false
