[package]
name = "libafl_sugar"
version = "0.6.1"
authors = ["Andrea Fioraldi <andreafioraldi@gmail.com>"]
description = "Sugar builders to create common fuzzers with LibAFL"
documentation = "https://docs.rs/libafl_sugar"
repository = "https://github.com/AFLplusplus/LibAFL/"
readme = "../README.md"
license = "MIT OR Apache-2.0"
keywords = ["fuzzing"]
edition = "2018"

[features]
python = ["pyo3"]
default = ["python"]

[dependencies]
libafl = { path = "../libafl", version = "0.6.1" }
libafl_targets = { path = "../libafl_targets", version = "0.6.1" }
libafl_qemu = { path = "../libafl_qemu", version = "0.6.1" }
typed-builder = "0.9.0" # Implement the builder pattern at compiletime
pyo3 = { version = "0.14.3", features = ["extension-module"], optional = true }

[lib]
name = "libafl_sugar"
crate-type = ["cdylib", "rlib"]

