[package]
name = "libafl_sugar"
version.workspace = true
authors = ["Andrea Fioraldi <andreafioraldi@gmail.com>"]
description = "Sugar builders to create common fuzzers with LibAFL"
documentation = "https://docs.rs/libafl_sugar"
repository = "https://github.com/AFLplusplus/LibAFL/"
readme = "../README.md"
license = "MIT OR Apache-2.0"
keywords = ["fuzzing"]
edition = "2021"
build = "build.rs"
categories = ["development-tools::testing", "emulators", "embedded", "os", "no-std"]

[features]
python = ["pyo3", "libafl_qemu/python", "pyo3-build-config"]
default = []

# for libafl_qemu
# The following architecture features are mutually exclusive.
x86_64 = ["libafl_qemu/x86_64"] # build qemu for x86_64 (default)
i386 = ["libafl_qemu/i386"] # build qemu for i386
arm = ["libafl_qemu/arm"] # build qemu for arm
aarch64 = ["libafl_qemu/aarch64"] # build qemu for aarch64

[build-dependencies]
pyo3-build-config = { version = "0.15", optional = true }

[dependencies]
libafl = { path = "../libafl", version = "0.9.0" }
libafl_targets = { path = "../libafl_targets", version = "0.9.0" }
libafl_qemu = { path = "../libafl_qemu", version = "0.9.0" }

typed-builder = "0.10.0" # Implement the builder pattern at compiletime
#pyo3 = { version = "0.17", features = ["extension-module"], optional = true }
pyo3 = { version = "0.17", optional = true }

[lib]
name = "libafl_sugar"
crate-type = ["cdylib", "rlib"]

