[package]
name = "libafl_libfuzzer_runtime"
version = "0.15.2"
edition = "2024"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["fork"]
## Enables forking mode for the LibAFL launcher (instead of starting new processes)
fork = ["libafl/fork"]
track_hit_feedbacks = [
  "libafl/track_hit_feedbacks",
  "libafl_targets/track_hit_feedbacks",
]

[profile.release]
lto = true
codegen-units = 1
opt-level = 3
debug = true

# debug-free release profile for fuzzbench due to space restrictions
[profile.release-fuzzbench]
inherits = "release"
debug = false
strip = true

[lib]
name = "afl_libfuzzer_runtime"     # historically, cargo-fuzz strips double-prefixes; maintain compat
crate-type = ["staticlib", "rlib"]

[dependencies]
libafl = { path = "../libafl", default-features = false, features = [
  "std",
  "derive",
  "llmp_compression",
  "rand_trait",
  "regex",
  "errors_backtrace",
  "serdeany_autoreg",
  "tui_monitor",
  "unicode",
] }
libafl_bolts = { path = "../libafl_bolts", default-features = false, features = [
  "std",
  "derive",
  "llmp_compression",
  "rand_trait",
  "serdeany_autoreg",
  "errors_backtrace",
] }
libafl_targets = { path = "../libafl_targets", features = [
  "sancov_8bit",
  "sancov_cmplog",
  "sancov_value_profile",
  "sancov_pcguard",
  "libfuzzer",
  "libfuzzer_oom",
  "libfuzzer_define_run_driver",
  "libfuzzer_interceptors",
  "sanitizers_flags",
  "whole_archive",
  "sanitizer_interfaces",
] }

ahash = { version = "0.8.11", default-features = false }
libc = "0.2.159"
log = { version = "0.4.22", features = ["release_max_level_info"] }
mimalloc = { version = "0.1.43", default-features = false }
num-traits = { version = "0.2.19", default-features = true }
rand = "0.8.5"
serde = { version = "1.0.210", default-features = true, features = [
  "derive",
] } # serialization lib
hashbrown = { version = "0.14.5", default-features = true }

# for identifying if we can grimoire-ify
utf8-chars = "3.0.4"
env_logger = "0.11.5"

[build-dependencies]
bindgen = "0.71.1"
cc = { version = "1.1.22", features = ["parallel"] }
