name: Setup Rust Environment
description: Sets up the Rust environment for the CI workflow
runs:
  using: composite
  steps:
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        components: llvm-tools
    - name: Remove existing clang and LLVM
      shell: bash
      run: sudo apt purge llvm* clang*
    - name: Install and cache deps
      shell: bash
      run: sudo apt update && sudo apt install ninja-build clang-format shellcheck libgtk-3-dev gcc-arm-linux-gnueabi g++-arm-linux-gnueabi libslirp-dev libz3-dev
    - name: Install cargo-hack
      shell: bash
      run: curl -LsSf https://github.com/taiki-e/cargo-hack/releases/latest/download/cargo-hack-x86_64-unknown-linux-gnu.tar.gz | tar xzf - -C ~/.cargo/bin
    - name: Add nightly
      shell: bash
      run: rustup toolchain install nightly --allow-downgrade
    - name: Install LLVM and Clang
      uses: KyleMayes/install-llvm-action@v1
      with:
        directory: ${{ runner.temp }}/llvm
        version: 17