[package]
name = "pylibafl"
version = "0.1.0"
edition = "2018"

[dependencies]
pyo3 = { version = "0.14.3", features = ["extension-module"] }
libafl_qemu = { path = "../../libafl_qemu", version = "0.6", features = ["python"] }
libafl_sugar = { path = "../../libafl_sugar", version = "0.6", features = ["python"] }
libafl = { path = "../../libafl", version = "0.6", features = ["python"] }

[build-dependencies]
pyo3-build-config = { version = "0.14.5" }

[lib]
name = "pylibafl"
crate-type = ["cdylib"]
