[package]
name = "pylibafl"
version = "0.10.1"
edition = "2021"

[dependencies]
pyo3 = { version = "0.18.3", features = ["extension-module"] }
pyo3-log = "0.8.1"
libafl_qemu = { path = "../../libafl_qemu", version = "0.10.1", features = ["python"] }
libafl_sugar = { path = "../../libafl_sugar", version = "0.10.1", features = ["python"] }
libafl = { path = "../../libafl", version = "0.10.1", features = ["python"] }

[build-dependencies]
pyo3-build-config = { version = "0.17" }

[lib]
name = "pylibafl"
crate-type = ["cdylib"]

[profile.dev]
panic = "abort"
