[package]
name = "forkserver_executor"
version = "0.0.1"
edition = "2021"


[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
lto = true
codegen-units = 1
opt-level = 3

[dependencies]
libafl = { path = "../../../libafl/" }
clap = { version = "3.0", features = ["default"] }