name: Update Rust toolchain

on:
  schedule:
    - cron: '0 * * * *'  # Debug
  pull_request:
    branches: [ main ]

jobs:
  update-rust-toolchains:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: update_from_ci
      - uses: actions/setup-python@v3
        with:
          python-version: '3.10' 

      - name: Setup Git
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"

      - name: Commit & push data
        run: |
          sed -i 's/rustup toolchain install nightly[0-9a-zA-Z\-]*/\`date +"rustup toolchain install nightly-%Y-%m-%d"\`/' ./.github/workflows/build_and_test.yml
          git add -u
          git commit -m "Update rust toolchain & time [$(date +'%Y-%m-%d %H:%M')]"
          git push

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.LIBAFL_UPDATER }}
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          commit-message: Add report file
          title: '[Example] Add report file'
          branch: update_from_ci
          assignees: tokatoka
          body: >
            This PR is auto-generated by 
            [create-pull-request](https://github.com/peter-evans/create-pull-request).