name: Update Rust toolchain

on:
  schedule:
    - cron: '0 0 * * *'  # Debug

jobs:
  update-timestamp:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          ref: update_from_ci
      - uses: actions/setup-python@v3
        with:
          python-version: '3.10' 

      - name: Setup Git
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"

      - name: Commit & push data
        run: |
          sed -i 's/rustup toolchain install nightly/\`date +"rustup toolchain install nightly-%Y-%m-%d"\`/' ./.github/workflows/build_and_test.yml
          sed -i 's/rustup toolchain install nightly-x86_64-unknown-linux-gnu/\`date +"rustup toolchain install nightly-%Y-%m-%d"\`/' ./.github/workflows/build_and_test.yml
          git add -u
          git commit -m "Update rust toolchain & time [$(date +'%Y-%m-%d %H:%M')]"
          git push